body{
    height: 90vh;
    font-family: monospace;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
div input:first-child{
    padding: 5px;
    width: 400px;
    margin-bottom: 50px;
}
div input:last-child{
    padding: 5px;
    width: 400px;
    margin-top: 50px;
}
div button{
    cursor: pointer;
    padding: 5px;
    margin-left: 50px;
}
.not-allowed{
    cursor: not-allowed;
}